<%# 背景画像 lzayloadなし%>
<span style="background-image: url('assets/images/<%= imgInfo.path %>.<%= imgInfo.type %>');" class="bgImg pc"></span>
<span style="background-image: url('assets/images/<%= imgInfo.path %>_sp.<%= imgInfo.type %>');" class="bgImg spElem style1x"></span>
<span style="background-image: url('assets/images/<%= imgInfo.path %>_sp@2x.<%= imgInfo.type %>');" class="bgImg spElem style2x"></span>
<span style="background-image: url('assets/images/<%= imgInfo.path %>_sp@3x.<%= imgInfo.type %>');" class="bgImg spElem style3x"></span>
