<%# èƒŒæ™¯ç”»åƒ%>
<span data-bg="assets/images/<%= imgInfo.path %>.<%= imgInfo.type %>" class="bgImg pc lazyload"></span>
<span data-bg="assets/images/<%= imgInfo.path %>_sp.<%= imgInfo.type %>" class="bgImg spElem style1x lazyload"></span>
<span data-bg="assets/images/<%= imgInfo.path %>_sp@2x.<%= imgInfo.type %>" class="bgImg spElem style2x lazyload"></span>
<span data-bg="assets/images/<%= imgInfo.path %>_sp@3x.<%= imgInfo.type %>" class="bgImg spElem style3x lazyload"></span>
