<%# shopify%>
<picture>
  <source
    data-srcset="{{ '<%= imgInfo.path %>.webp' | file_url }}"
    media="(min-width: 768px)"
    type="image/webp"
  >
  <source
    data-srcset="{{ '<%= imgInfo.path %>.<%= imgInfo.type %>' | file_url }}"
    media="(min-width: 768px)"
  >
  <source
    data-srcset="{{ '<%= imgInfo.path %>_sp.webp' | file_url }} 1x,{{ '<%= imgInfo.path %>_sp_2x.webp' | file_url }} 2x,{{ '<%= imgInfo.path %>_sp_3x.webp' | file_url }} 3x"
    type="image/webp"
  >
  <source
    data-srcset="{{ '<%= imgInfo.path %>_sp.<%= imgInfo.type %>' | file_url }} 1x,{{ '<%= imgInfo.path %>_sp_2x.<%= imgInfo.type %>' | file_url }} 2x,{{ '<%= imgInfo.path %>_sp_3x.<%= imgInfo.type %>' | file_url }} 3x"
  >
  <img
    data-src="{{ '<%= imgInfo.path %>.<%= imgInfo.type %>' | file_url }}"
    alt="<%= imgInfo.alt %>"
    class="lazyload"
  >
  <div class="loadImg"></div>
  <!-- /.loadImg -->
</picture>
