<div id="mainNavSecond">
  <div class="inner">
    <div class="cel">
      <div class="inner">
        <% if(pageinit.shopify!=='true'){%>
        <p class="logoNav">
          <a href="./">
          <% var imgInfo = {path:'logo-tui_01',type:'svg',alt:'tui'};%>
          <% if(pageinit.shopify!=='true'){%>
            <%- include(pageinit.path + '_img-temp_12.ejs', {imgInfo:imgInfo});%>
          <% } else {%>
            <%- include(pageinit.path + '_img-temp_13.ejs', {imgInfo:imgInfo});%>
          <% }%>
          </a>
        </p>
        <% } else {%>
        <p class="logoNav">
          <a href="{{ routes.root_url }}">
          <% var imgInfo = {path:'logo-tui_01',type:'svg',alt:'tui'};%>
          <% if(pageinit.shopify!=='true'){%>
            <%- include(pageinit.path + '_img-temp_12.ejs', {imgInfo:imgInfo});%>
          <% } else {%>
            <%- include(pageinit.path + '_img-temp_13.ejs', {imgInfo:imgInfo});%>
          <% }%>
          </a>
        </p>
        <% }%>
        <nav>
        <% if(pageinit.shopify!=='true'){%>
        <div class="mainNavSec">
          <div class="inner">
            <div class="sec">
              <ul class="menuNavStyle_01">
                <p class="ttl"><a href="products.html">Products</a></p>
                <li><a href="booster-oil.html">BOOSTER OIL</a></li>
                <li><a href="moisture-serum.html">MOISTURE SERUM</a></li>
                <li><a href="set-package.html">SET PACKAGE</a></li>
                <li><a href="products.html#subscription">SUBSCRIPTION</a></li>
              </ul>
            </div>
            <!-- /.sec -->
            <ul class="menuNavStyle_02">
              <li><a href="about.html">About us</a></li>
              <li><a href="news.html">News</a></li>
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
            <!-- /.menuNavStyle_01 -->
          </div>
          <!-- /.inner -->
        </div>
        <!-- /.mainNavSec -->
        <div class="subNavSec">
          <ul>
            <li class="account">
              <a href="javascript:void(0);">
                <%- include('_icon-account.ejs');%>
              </a>
            </li>
            <li class="instagram">
              <a href="https://www.instagram.com/tui_beauty_official/" target="_blank">
                <%- include('_icon-instagram.ejs');%>
              </a>
            </li>
            <li class="twitter">
              <a href="https://twitter.com/tui_beauty" target="_blank">
                <%- include('_icon-twitter.ejs');%>
              </a>
            </li>
          </ul>
        </div>
        <!-- /.subNavSec -->
        <% } else {%>
        <div class="mainNavSec">
          <div class="inner">
            <div class="sec">
              <p class="ttl"><a href="{{ routes.root_url }}pages/products/">Products</a></p>
              <ul class="menuNavStyle_01">
                <li><a href="{{ routes.root_url }}products/booster-oil">BOOSTER OIL</a></li>
                <li><a href="{{ routes.root_url }}products/moisture-serum">MOISTURE SERUM</a></li>
                <li><a href="{{ routes.root_url }}products/set-package">SET PACKAGE</a></li>
                <li><a href="{{ routes.root_url }}pages/products#subscription">SUBSCRIPTION</a></li>
              </ul>
            </div>
            <!-- /.sec -->
            <ul class="menuNavStyle_02">
              <li><a href="{{ routes.root_url }}pages/about">About us</a></li>
              <li><a href="{{ routes.root_url }}blogs/news">News</a></li>
              <li><a href="{{ routes.root_url }}pages/faq">FAQ</a></li>
              <li><a href="{{ routes.root_url }}pages/contact">Contact</a></li>
            </ul>
            <!-- /.menuNavStyle_01 -->
          </div>
          <!-- /.inner -->
        </div>
        <!-- /.mainNavSec -->
        <div class="subNavSec">
          <ul>
            <li class="account">
              <a href="{{ routes.root_url }}account">
                <%- include('_icon-account.ejs');%>
              </a>
            </li>
            <li class="instagram">
              <a href="https://www.instagram.com/tui_beauty_official/" target="_blank">
                <%- include('_icon-instagram.ejs');%>
              </a>
            </li>
            <li class="twitter">
              <a href="https://twitter.com/tui_beauty" target="_blank">
                <%- include('_icon-twitter.ejs');%>
              </a>
            </li>
          </ul>
        </div>
        <!-- /.subNavSec -->
        <% }%>
        </nav>
      </div>
      <!-- /.inner -->
    </div>
    <!-- /.cel -->
  </div>
  <!-- /.inner -->
</div>
<!-- /#mainNav -->
