<section class="secStyle_08">
  <div class="inner">
    <div class="secStyle_09 setMrg_35 sp">
      <h2 class="ttlStyle_14">Products</h2>
      <div class="summaryStyle_02">
        <p>独自開発したナノ分散浸透技術 “NtDDS”による角質層すみずみへの浸透効果が、なめらかな素肌へと導きます。</p>
      </div>
      <!-- /.summaryStyle_02 -->
    </div>
    <!-- /.secStyle_09 -->
    <div class="colStyle_04 setMrg_35">
      <div class="col">
        <section class="articleStyle_05">
          <a href="{{ routes.root_url }}products/booster-oil">
            <div class="inner">
              <div class="eyeCatch">
                <% var imgInfo = {path:'img_13',type:'jpg',alt:''};%>
                <% if(pageinit.shopify!=='true'){%>
                  <%- include(pageinit.path + '_img-temp_09.ejs', {imgInfo:imgInfo});%>
                <% } else {%>
                  <%- include(pageinit.path + '_img-temp_15.ejs', {imgInfo:imgInfo});%>
                <% }%>
              </div>
              <!-- /.eyeCatch -->
              <div class="content">
                <div class="inner">
                  <h2>BOOSTER OIL</h2>
                  <h3>体感する浸透力<span>※</span></h3>
                  <p class="caution">※角質層まで</p>
                  <div class="btn">
                    <span class="btnStyle_07"><span>View more</span></span>
                  </div>
                  <!-- /.btn -->
                </div>
                <!-- /.inner -->
              </div>
              <!-- /.content -->
            </div>
            <!-- /.inner -->
          </a>
        </section>
        <!-- /.articleStyle_05 -->
      </div>
      <!-- /.col -->
      <div class="col">
        <section class="articleStyle_05">
          <a href="{{ routes.root_url }}products/moisture-serum">
            <div class="inner">
              <div class="eyeCatch">
                <% var imgInfo = {path:'img_14',type:'jpg',alt:''};%>
                <% if(pageinit.shopify!=='true'){%>
                  <%- include(pageinit.path + '_img-temp_09.ejs', {imgInfo:imgInfo});%>
                <% } else {%>
                  <%- include(pageinit.path + '_img-temp_15.ejs', {imgInfo:imgInfo});%>
                <% }%>
              </div>
              <!-- /.eyeCatch -->
              <div class="content">
                <div class="inner">
                  <h2>MOISTURE SERUM</h2>
                  <h3>うるおい、肌にとどまる。</h3>
                  <div class="btn">
                    <span class="btnStyle_07"><span>View more</span></span>
                  </div>
                  <!-- /.btn -->
                </div>
                <!-- /.inner -->
              </div>
              <!-- /.content -->
            </div>
            <!-- /.inner -->
          </a>
        </section>
        <!-- /.articleStyle_05 -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.colStyle_04 -->
    <section class="articleStyle_08 setMrg_35">
      <a href="{{ routes.root_url }}products/set-package">
        <div class="inner">
          <div class="eyeCatch">
            <% var imgInfo = {path:'img_20',type:'jpg',alt:''};%>
            <% if(pageinit.shopify!=='true'){%>
              <%- include(pageinit.path + '_img-temp_09.ejs', {imgInfo:imgInfo});%>
            <% } else {%>
              <%- include(pageinit.path + '_img-temp_15.ejs', {imgInfo:imgInfo});%>
            <% }%>
          </div>
          <!-- /.eyeCatch -->
          <div class="content">
            <div class="inner">
              <h2>SET PACKAGE</h2>
              <h3>オイルとセラム、対になるもの。</h3>
              <div class="btn">
                <span class="btnStyle_07"><span>View more</span></span>
              </div>
              <!-- /.btn -->
            </div>
            <!-- /.inner -->
          </div>
          <!-- /.content -->
        </div>
        <!-- /.inner -->
      </a>
    </section>
    <!-- /.articleStyle_08 -->
  </div>
  <!-- /.inner -->
</section>
<!-- /.secStyle_08 -->
<div class="secStyle_08">
  <div class="colStyle_05 setMrg_36">
    <div class="col">
      <section class="articleStyle_07">
        <a href="{{ routes.root_url }}pages/about#ntdds">
          <div class="inner">
            <div class="eyeCatch">
              <% var imgInfo = {path:'img_16',type:'jpg',alt:''};%>
              <% if(pageinit.shopify!=='true'){%>
                <%- include(pageinit.path + '_img-temp_09.ejs', {imgInfo:imgInfo});%>
              <% } else {%>
                <%- include(pageinit.path + '_img-temp_15.ejs', {imgInfo:imgInfo});%>
              <% }%>
            </div>
            <!-- /.eyeCatch -->
            <div class="content">
              <div class="inner">
                <h2>About NtDDS</h2>
                <h3>肌が実感する、<br>角質層へのアプローチ</h3>
                <div class="btn">
                  <span class="btnStyle_07"><span>View more</span></span>
                </div>
                <!-- /.btn -->
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.content -->
          </div>
          <!-- /.inner -->
        </a>
      </section>
      <!-- /.articleStyle_07 -->
    </div>
    <!-- /.col -->
    <div class="col">
      <section class="articleStyle_07">
        <a href="{{ routes.root_url }}pages/about#skincare">
          <div class="inner">
            <div class="eyeCatch">
              <% var imgInfo = {path:'img_17',type:'jpg',alt:''};%>
              <% if(pageinit.shopify!=='true'){%>
                <%- include(pageinit.path + '_img-temp_09.ejs', {imgInfo:imgInfo});%>
              <% } else {%>
                <%- include(pageinit.path + '_img-temp_15.ejs', {imgInfo:imgInfo});%>
              <% }%>
            </div>
            <!-- /.eyeCatch -->
            <div class="content">
              <div class="inner">
                <h2>Skincare Routine</h2>
                <h3>余計なステップはいらない、<br>シンプルかつ最適なルーティン</h3>
                <div class="btn">
                  <span class="btnStyle_07"><span>View more</span></span>
                </div>
                <!-- /.btn -->
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.content -->
          </div>
          <!-- /.inner -->
        </a>
      </section>
      <!-- /.articleStyle_07 -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.colStyle_05 -->
  <div class="colStyle_05">
    <div class="col">
      <section class="articleStyle_06">
        <a href="{{ routes.root_url }}blogs/news">
          <div class="inner">
            <div class="eyeCatch">
              <% var imgInfo = {path:'img_18',type:'jpg',alt:''};%>
              <% if(pageinit.shopify!=='true'){%>
                <%- include(pageinit.path + '_img-temp_09.ejs', {imgInfo:imgInfo});%>
              <% } else {%>
                <%- include(pageinit.path + '_img-temp_15.ejs', {imgInfo:imgInfo});%>
              <% }%>
            </div>
            <!-- /.eyeCatch -->
            <div class="content">
              <div class="inner">
                <h2>News</h2>
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.content -->
          </div>
          <!-- /.inner -->
        </a>
      </section>
      <!-- /.articleStyle_06 -->
    </div>
    <!-- /.col -->
    <div class="col">
      <section class="articleStyle_06">
        <a href="{{ routes.root_url }}pages/contact">
          <div class="inner">
            <div class="eyeCatch">
              <% var imgInfo = {path:'img_19',type:'jpg',alt:''};%>
              <% if(pageinit.shopify!=='true'){%>
                <%- include(pageinit.path + '_img-temp_09.ejs', {imgInfo:imgInfo});%>
              <% } else {%>
                <%- include(pageinit.path + '_img-temp_15.ejs', {imgInfo:imgInfo});%>
              <% }%>
            </div>
            <!-- /.eyeCatch -->
            <div class="content">
              <div class="inner">
                <h2>Contact</h2>
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.content -->
          </div>
          <!-- /.inner -->
        </a>
      </section>
      <!-- /.articleStyle_06 -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.colStyle_05 -->
</div>
<!-- /.secStyle_08 -->
