<div class="secStyle_08 setMrg_40">
  <div class="colStyle_05 setMrg_36">
    <div class="col style_01">
      <section class="articleStyle_07">
        <a href="{{ routes.root_url }}pages/about#ntdds">
          <div class="inner">
            <div class="eyeCatch">
              <% var imgInfo = {path:'img_16',type:'jpg',alt:''};%>
              <% if(pageinit.shopify!=='true'){%>
                <%- include(pageinit.path + '_img-temp_09.ejs', {imgInfo:imgInfo});%>
              <% } else {%>
                <%- include(pageinit.path + '_img-temp_15.ejs', {imgInfo:imgInfo});%>
              <% }%>
            </div>
            <!-- /.eyeCatch -->
            <div class="content">
              <div class="inner">
                <h2>About NtDDS</h2>
                <h3 class="style_01"><span>肌が実感する、</span><br>角質層へのアプローチ</h3>
                <div class="btn">
                  <span class="btnStyle_07"><span>View more</span></span>
                </div>
                <!-- /.btn -->
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.content -->
          </div>
          <!-- /.inner -->
        </a>
      </section>
      <!-- /.articleStyle_07 -->
    </div>
    <!-- /.col -->
    <div class="col style_01">
      <section class="articleStyle_07">
        <a href="{{ routes.root_url }}pages/about#skincare">
          <div class="inner">
            <div class="eyeCatch">
              <% var imgInfo = {path:'img_17',type:'jpg',alt:''};%>
              <% if(pageinit.shopify!=='true'){%>
                <%- include(pageinit.path + '_img-temp_09.ejs', {imgInfo:imgInfo});%>
              <% } else {%>
                <%- include(pageinit.path + '_img-temp_15.ejs', {imgInfo:imgInfo});%>
              <% }%>
            </div>
            <!-- /.eyeCatch -->
            <div class="content">
              <div class="inner">
                <h2>Skincare Routine</h2>
                <h3>余計なステップはいらない、<br>シンプルかつ最適なルーティン</h3>
                <div class="btn">
                  <span class="btnStyle_07"><span>View more</span></span>
                </div>
                <!-- /.btn -->
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.content -->
          </div>
          <!-- /.inner -->
        </a>
      </section>
      <!-- /.articleStyle_07 -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.colStyle_05 -->
  <div class="colStyle_05">
    <div class="col">
      <section class="articleStyle_06">
        <a href="{{ routes.root_url }}blogs/news">
          <div class="inner">
            <div class="eyeCatch">
              <% var imgInfo = {path:'img_18',type:'jpg',alt:''};%>
              <% if(pageinit.shopify!=='true'){%>
                <%- include(pageinit.path + '_img-temp_09.ejs', {imgInfo:imgInfo});%>
              <% } else {%>
                <%- include(pageinit.path + '_img-temp_15.ejs', {imgInfo:imgInfo});%>
              <% }%>
            </div>
            <!-- /.eyeCatch -->
            <div class="content">
              <div class="inner">
                <h2>News</h2>
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.content -->
          </div>
          <!-- /.inner -->
        </a>
      </section>
      <!-- /.articleStyle_06 -->
    </div>
    <!-- /.col -->
    <div class="col">
      <section class="articleStyle_06">
        <a href="{{ routes.root_url }}pages/contact">
          <div class="inner">
            <div class="eyeCatch">
              <% var imgInfo = {path:'img_19',type:'jpg',alt:''};%>
              <% if(pageinit.shopify!=='true'){%>
                <%- include(pageinit.path + '_img-temp_09.ejs', {imgInfo:imgInfo});%>
              <% } else {%>
                <%- include(pageinit.path + '_img-temp_15.ejs', {imgInfo:imgInfo});%>
              <% }%>
            </div>
            <!-- /.eyeCatch -->
            <div class="content">
              <div class="inner">
                <h2>Contact</h2>
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.content -->
          </div>
          <!-- /.inner -->
        </a>
      </section>
      <!-- /.articleStyle_06 -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.colStyle_05 -->
</div>
<!-- /.secStyle_08 -->
