<div class="secStyle_01">
  <div class="colStyle_04">
    <div class="col product_01Hide">
      <section class="articleStyle_03 way">
        <a href="booster-oil.html">
          <div class="inner">
            <div class="eyeCatch">
              <% var imgInfo = {path:'img_13',type:'jpg',alt:''};%>
              <% if(pageinit.shopify!=='true'){%>
                <%- include(pageinit.path + '_img-temp_09.ejs', {imgInfo:imgInfo});%>
              <% } else {%>
                <%- include(pageinit.path + '_img-temp_15.ejs', {imgInfo:imgInfo});%>
              <% }%>
            </div>
            <!-- /.eyeCatch -->
            <div class="content">
              <div class="inner">
                <h2>BOOSTER OIL</h2>
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.content -->
          </div>
          <!-- /.inner -->
        </a>
      </section>
      <!-- /.articleStyle_01 -->
    </div>
    <!-- /.col -->
    <div class="col product_02Hide">
      <section class="articleStyle_03 way">
        <a href="moisture-serum.html">
          <div class="inner">
            <div class="eyeCatch">
              <% var imgInfo = {path:'img_14',type:'jpg',alt:''};%>
              <% if(pageinit.shopify!=='true'){%>
                <%- include(pageinit.path + '_img-temp_09.ejs', {imgInfo:imgInfo});%>
              <% } else {%>
                <%- include(pageinit.path + '_img-temp_15.ejs', {imgInfo:imgInfo});%>
              <% }%>
            </div>
            <!-- /.eyeCatch -->
            <div class="content">
              <div class="inner">
                <h2>MOISTURE SERUM</h2>
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.content -->
          </div>
          <!-- /.inner -->
        </a>
      </section>
      <!-- /.articleStyle_01 -->
    </div>
    <!-- /.col -->
    <div class="col product_03Hide">
      <section class="articleStyle_03 way">
        <a href="set-package.html">
          <div class="inner">
            <div class="eyeCatch">
              <% var imgInfo = {path:'img_15',type:'jpg',alt:''};%>
              <% if(pageinit.shopify!=='true'){%>
                <%- include(pageinit.path + '_img-temp_09.ejs', {imgInfo:imgInfo});%>
              <% } else {%>
                <%- include(pageinit.path + '_img-temp_15.ejs', {imgInfo:imgInfo});%>
              <% }%>
            </div>
            <!-- /.eyeCatch -->
            <div class="content">
              <div class="inner">
                <h2>SET PACKAGE</h2>
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.content -->
          </div>
          <!-- /.inner -->
        </a>
      </section>
      <!-- /.articleStyle_01 -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.colStyle_04 -->
</div>
<!-- /.secStyle_01 -->
