<%
// 以下の設定値を記入のこと
var pageinit = {
  title : '' ,
  keywords : '' ,
  description : '' ,
  ogurl : '' ,
  ogimage : '' ,
  path : '' ,
  shopify : '',
  category : ['product_01','detail-product'] ,
  pagename : '',
  css: [],
  js:[],
  jsfunc:['setPhotoChanger ();','setBuyBtn();','setVideo();']
};
%>
<% if(pageinit.shopify!=='true'){%>
<%- include(pageinit.path + 'assets/module/_head.ejs',{pageinit : pageinit}) %>
<%- include(pageinit.path + 'assets/module/_header.ejs',{pageinit : pageinit}) %>
<%- include(pageinit.path + 'assets/module/_menu.ejs',{pageinit : pageinit}) %>
<% } else {%>
{% layout 'theme.tui' %}
<% }%>
<div id="outerMenu">
  <%# ▼▼▼ここからページ内のHTMLを記載▼▼▼ %>
  <main role="main">
    <div id="container" class="multiGallery">
      <div class="heroStyle_01 setMrg_05">
        <div class="inner">
          <div class="imgStyle style_01">
            <% var imgInfo = {path:'hero_img_08',type:'jpg',alt:''};%>
            <% if(pageinit.shopify!=='true'){%>
              <%- include(pageinit.path + 'assets/module/_img-temp_09.ejs', {imgInfo:imgInfo});%>
            <% } else {%>
              <%- include(pageinit.path + 'assets/module/_img-temp_15.ejs', {imgInfo:imgInfo});%>
            <% }%>
          </div>
          <!-- /.imgStyle -->
        </div>
        <!-- /.inner -->
      </div>
      <!-- /.heroStyle_01 -->
      <div class="gallerySep">
        <section class="secStyle_03 setMrg_22">
          <div class="inner">
            <article class="productSec_01 way">
              <div class="eyeCatch">
                <span>
                  <% var imgInfo = {path:'product_img_01',type:'jpg',alt:''};%>
                  <% if(pageinit.shopify!=='true'){%>
                    <%- include(pageinit.path + 'assets/module/_img-temp_12.ejs', {imgInfo:imgInfo});%>
                  <% } else {%>
                    <%- include(pageinit.path + 'assets/module/_img-temp_13.ejs', {imgInfo:imgInfo});%>
                  <% }%>
                </span>
              </div>
              <!-- /.eyeCatch -->
              <div class="ttl">
                <h1>BOOSTER OIL</h1>
                <p>ブースターオイル</p>
              </div>
              <!-- /.ttl -->
              <div class="priceLabel">
                <p><span class="label"></span><span class="sub">（税込）</span></p>
              </div>
              <!-- /.price -->
              <% if(pageinit.shopify!=='true'){%>
              <%- include('assets/module/_temp-product_01.ejs') %>
              <% } else {%>
              <%- include('assets/module/_temp-product_01_shopify.ejs') %>
              <!--div class="mikawaya-product-page-widget-container">
                <fieldset id="custom-fieldset">
                  <div class="mikawaya-selling-plan-group-container">
                    <input type="radio" name="purchase_option" checked="" class="mikawaya-radio-button">
                    通常の購入
                    &nbsp;&nbsp;&nbsp;
                    <span name="one-time-variant-price" data-variant-id="41923353936131">¥5,980</span>
                  </div>
                  <div class="mikawaya-selling-plan-group-container">
                    <div>
                      <input type="radio" name="purchase_option" class="mikawaya-radio-button">
                      <span>オイル1ヶ月定期&nbsp;&nbsp;&nbsp;<span name="group-inline-price" data-group-id="6a05ea90b709718d65a9b8c7f6d6155a74e1a10e">¥5,382</span></span>
                    </div>
                  </div>
                </fieldset>
              </div-->
              <% }%>
              <div class="btnWrap setMrg_23">
                <div class="inner">
                  <div class="col">
                    <button type="button" class="btnStyle_05 ja customCartBtn" id="customCartBtn"><span class="normal">カートに追加する</span><span class="out">在庫切れ</span></button>
                  </div>
                  <!-- /.col -->
                  <div class="col">
                    <% if(pageinit.shopify!=='true'){%>
                    <a href="booster-oil-s.html" class="btnStyle_09 ja"><span>定期購入はこちら</span></a>
                    <% } else {%>
                    <a href="{{ routes.root_url }}products/booster-oil-s" class="btnStyle_09 ja"><span>定期購入はこちら</span></a>
                    <% }%>
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.inner -->
              </div>
              <!-- /.btnWrap -->
              <div style="margin: -30px 0 46px; display: flex; align-items: center;">
                <p>定期購入2回分の合計金額</p>
                <p class="priceLabel">
                  <span style="font-size: 1.4rem; letter-spacing: .05em; font-family: ff-cocon-pro, sans-serif; font-weight: 300; display: inline-block; margin: 0 0 0 10px;">¥10,872</span>
                  <span class="sub" style=" display: inline-block;">（税込）</span>
                </p>
              </div>
              <div class="content">
                <div class="sec">
                  <h3>体感する浸透力<span>※1</span></h3>
                  <div class="summary">
                    <p>洗顔後すぐに“オイル”の新習慣。表皮と親和性の高いオイルが肌表面を柔らかく、ベタつくことなくスーッと肌に馴染んでいく。独自開発したNtDDS<sup>※2</sup>が保湿美容成分を角質層までしっかりと届け、肌をすこやかに保ちます。</p>
                    <ul class="cautionList">
                      <li>※1  角質層まで</li>
                      <li>※2  ナノ分散浸透技術</li>
                    </ul>
                  </div>
                  <!-- /.summary -->
                </div>
                <!-- /.sec -->
                <div class="sec">
                  <dl>
                    <dt>容量</dt>
                    <dd>30mL</dd>
                  </dl>
                  <dl>
                    <dt>使い方</dt>
                    <dd>朝晩の洗顔後に1プッシュを手に取り、お顔全体に優しくなじませてください。</dd>
                  </dl>
                  <dl>
                    <dt>全成分</dt>
                    <dd>ホホバ種子油、リン酸アスコルビルMg、酢酸トコフェロール、水溶性プロテオグリカン、α–アルブチン、ポリリシノレイン酸ポリグリセリル–6、水、BG</dd>
                  </dl>
                  <p class="strong">パラベン、アルコール、合成香料、合成着色料 不使用</p>
                  <p class="txStyle_05 setMrg_34">※商品の特性上、低温状態で白濁したり固まったりすることがありますが、品質には問題ありません。<br>凍ったような状態ですので、暖かい場所に置くか、ボトルをぬるま湯につけて、溶かしてからご使用ください。</p>
                </div>
                <!-- /.sec -->
              </div>
              <!-- /.content -->
            </article>
            <!-- /.productSec_01 -->
          </div>
          <!-- /.inner -->
        </section>
        <!-- /.secStyle_03 -->
        <div class="heroStyle_03 setMrg_38">
          <div class="inner">
            <div class="bgImg">
              <div class="inner">
                <ul class="photoChanger style_02">
                  <li>
                    <% var imgInfo = {path:'hero_img_09',type:'jpg',alt:''};%>
                    <% if(pageinit.shopify!=='true'){%>
                      <%- include(pageinit.path + 'assets/module/_img-temp_09.ejs', {imgInfo:imgInfo});%>
                    <% } else {%>
                      <%- include(pageinit.path + 'assets/module/_img-temp_15.ejs', {imgInfo:imgInfo});%>
                    <% }%>
                  </li>
                  <li>
                    <% var imgInfo = {path:'hero_img_10',type:'jpg',alt:''};%>
                    <% if(pageinit.shopify!=='true'){%>
                      <%- include(pageinit.path + 'assets/module/_img-temp_09.ejs', {imgInfo:imgInfo});%>
                    <% } else {%>
                      <%- include(pageinit.path + 'assets/module/_img-temp_15.ejs', {imgInfo:imgInfo});%>
                    <% }%>
                  </li>
                </ul>
                <!-- /.photoChanger -->
              </div>
              <!-- /.inner -->
              <div class="content way">
                <div class="wrap">
                  <div class="inner">
                    <div class="col">
                      <div class="summary">
                        <p>表皮と親和性が高く、<br class="sp">肌にスーッと馴染む、<br>洗顔後すぐに使える“新オイル”</p>
                      </div>
                      <!-- /.summary -->
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.inner -->
                </div>
                <!-- /.wrap -->
              </div>
              <!-- /.content -->
            </div>
            <!-- /.bgImg -->
          </div>
          <!-- /.inner -->
        </div>
        <!-- /.heroStyle_03 -->
        <div class="setMrg_24 way">
          <%- include(pageinit.path + 'assets/module/_cont-ntdds.ejs', {pageinit:pageinit});%>
        </div>
        <!-- /.setMrg_24 -->
        <div class="setMrg_25 way">
          <%- include(pageinit.path + 'assets/module/_cont-routine.ejs', {pageinit:pageinit});%>
        </div>
        <!-- /.setMrg_25 -->
        <%- include(pageinit.path + 'assets/module/_nav-product.ejs', {pageinit:pageinit});%>
      </div>
      <!-- /.gallerySep -->
    </div>
    <!-- /#container -->
  </main>
  <%# ▲▲▲ここまでページ内のHTMLを記載▲▲▲ %>
  <% if(pageinit.shopify!=='true'){%>
  <%- include(pageinit.path + 'assets/module/_footer.ejs',{pageinit : pageinit}) %>
  <% } else {%>
  {% include 'footer-tui' %}
  <% }%>
</div>
<!-- /#outerMenu -->
<%- include(pageinit.path + 'assets/module/_foot.ejs',{pageinit : pageinit}) %>
<% if(pageinit.shopify!=='true'){%>
</body>
</html>
<% }%>
