<%
// 以下の設定値を記入のこと
var pageinit = {
  title : '' ,
  keywords : '' ,
  description : '' ,
  ogurl : '' ,
  ogimage : '' ,
  path : '' ,
  shopify : 'true',
  category : ['faq'] ,
  pagename : '',
  css: [],
  js:[],
  jsfunc:['setCateFilter ();']
};
%>
<% if(pageinit.shopify!=='true'){%>
<%- include(pageinit.path + 'assets/module/_head.ejs',{pageinit : pageinit}) %>
<%- include(pageinit.path + 'assets/module/_header.ejs',{pageinit : pageinit}) %>
<%- include(pageinit.path + 'assets/module/_menu.ejs',{pageinit : pageinit}) %>
<% } else {%>
{% layout 'theme.tui' %}
<% }%>
<div id="outerMenu">
  <%# ▼▼▼ここからページ内のHTMLを記載▼▼▼ %>
  <main role="main">
    <div id="container">
      <div class="secStyle_04 setMrg_26 way">
        <div class="inner">
          <div class="secStyle_06">
            <div class="navStyle_01" id="faqNav">
              <nav>
                <ul>
                  <li><a href="javascript:void(0);" class="active type_0">ALL</a></li>
                  <li><a href="javascript:void(0);" class="type_1">商品について</a></li>
                  <li><a href="javascript:void(0);" class="type_2">送料について</a></li>
                  <li><a href="javascript:void(0);" class="type_3">返品・交換について</a></li>
                  <li><a href="javascript:void(0);" class="type_4">Other</a></li>
                </ul>
              </nav>
            </div>
            <!-- /.navStyle_01 -->
            <div class="inner">
              <div id="faqWrap">
                <section class="type_1">
                  <!-- /対応するカテゴリのクラスをsectionに付与 -->
                  <h2>肌に異常がでてきた</h2>
                  <div class="content">
                    <p>化粧品がお肌に合わないとき即ち次のような場合には、使用を中止してください。<br>そのまま化粧品類の使用を続けますと、症状を悪化させることがありますので、皮膚科専門医等にご相談されることをおすすめします。</p>
                    <ul class="listStyle_02">
                      <li>使用中、赤み、はれ、かゆみ、刺激、色抜け（白斑等）や黒ずみ等の異常があらわれた場合</li>
                      <li>使用したお肌に、直接日光があたって上記のような異常があらわれた場合</li>
                    </ul>
                    <p>傷やはれもの、しっしん等、異常のある部位にはお使いにならないでください<br>目に入ったときは、すぐに洗い流してください。</p>
                  </div>
                  <!-- /.content -->
                </section>
                <!-- /.faq section -->
                <section class="type_2">
                  <!-- /対応するカテゴリのクラスをsectionに付与 -->
                  <h2>成分内容が知りたい</h2>
                  <div class="content">
                    <p>【ブースターオイル】<br>ホホバ種子油、リン酸アスコルビルMg、酢 酸トコフェロール、水溶性プロテオグリカン、α‐アルブチン、ポリリシノレイン酸ポ リグリセリル-6、水、BG<br>【モイスチャーセラム】<br>水、グリセリン、PEG-40水添ヒマシ油、 BG、PEG-60水添ヒマシ油、ホホバ種子油、 リン酸アスコルビルMg、酢酸トコフェロー ル、ポリリシノレイン酸ポリグリセリル-6、水溶性プロテオグリカン、セラミドEOP、セラミドNP、セラミドAP、 キサンタンガム、(PEG-240/デシルテトラ デセス-20/HDI)コポリマー、ポリソル ベート20、PEG-20ソルビタンココエート、フィトスフィンゴシン、コレステロール、カルボマー、ラウロイルラクチレートNa、 カプリリルグリコール、1,2-ヘキサンジ オール、フェノキシエタノール</p>
                  </div>
                  <!-- /.content -->
                </section>
                <!-- /.faq section -->
                <section class="type_3">
                  <!-- /対応するカテゴリのクラスをsectionに付与 -->
                  <h2>商品は日本製か？</h2>
                  <div class="content">
                    <p>MADE IN JAPANです。</p>
                  </div>
                  <!-- /.content -->
                </section>
                <!-- /.faq section -->
              </div>
              <!-- /.faqWrap -->
            </div>
            <!-- /.inner -->
          </div>
          <!-- /.secStyle_06 -->
        </div>
        <!-- /.inner -->
      </div>
      <!-- /.secStyle_04 -->
    </div>
    <!-- /#container -->
  </main>
  <%# ▲▲▲ここまでページ内のHTMLを記載▲▲▲ %>
  <% if(pageinit.shopify!=='true'){%>
  <%- include(pageinit.path + 'assets/module/_footer.ejs',{pageinit : pageinit}) %>
  <% } else {%>
  {% include 'footer-tui' %}
  <% }%>
</div>
<!-- /#outerMenu -->
<%- include(pageinit.path + 'assets/module/_foot.ejs',{pageinit : pageinit}) %>
<% if(pageinit.shopify!=='true'){%>
</body>
</html>
<% }%>
