<%
// 以下の設定値を記入のこと
var pageinit = {
  title : '' ,
  keywords : '' ,
  description : '' ,
  ogurl : '' ,
  ogimage : '' ,
  path : '' ,
  shopify : '',
  category : ['home'] ,
  pagename : '',
  css: [],
  js:[],
  jsfunc:['']
};
%>
<% if(pageinit.shopify!=='true'){%>
<%- include(pageinit.path + 'assets/module/_head.ejs',{pageinit : pageinit}) %>
<%- include(pageinit.path + 'assets/module/_header.ejs',{pageinit : pageinit}) %>
<%- include(pageinit.path + 'assets/module/_menu.ejs',{pageinit : pageinit}) %>
<% } else {%>
{% layout 'theme.tui' %}
<% }%>
<div id="outerMenu">
  <%# ▼▼▼ここからページ内のHTMLを記載▼▼▼ %>
  <main role="main">
    <div id="mainVis">
      <div class="galleryWidget">
        <div class="inner">
          <div class="item active" id="homeCont">
            <div class="wrapper">
              <div class="inner">
                <% var imgInfo = {path:'kv_img_01',type:'jpg',alt:''};%>
                <% if(pageinit.shopify!=='true'){%>
                  <%- include(pageinit.path + 'assets/module/_img-temp_09.ejs', {imgInfo:imgInfo});%>
                <% } else {%>
                  <%- include(pageinit.path + 'assets/module/_img-temp_15.ejs', {imgInfo:imgInfo});%>
                <% }%>
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.wrapper -->
          </div>
          <!-- /.item -->
          <div class="item" id="cont_01">
            <div class="wrapper">
              <div class="inner">
                <% var imgInfo = {path:'kv_img_02',type:'jpg',alt:''};%>
                <% if(pageinit.shopify!=='true'){%>
                  <%- include(pageinit.path + 'assets/module/_img-temp_09.ejs', {imgInfo:imgInfo});%>
                <% } else {%>
                  <%- include(pageinit.path + 'assets/module/_img-temp_15.ejs', {imgInfo:imgInfo});%>
                <% }%>
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.wrapper -->
          </div>
          <!-- /.item -->
          <div class="item" id="cont_01_02">
            <div class="wrapper">
              <div class="inner">
                <% var imgInfo = {path:'kv_img_03',type:'jpg',alt:''};%>
                <% if(pageinit.shopify!=='true'){%>
                  <%- include(pageinit.path + 'assets/module/_img-temp_09.ejs', {imgInfo:imgInfo});%>
                <% } else {%>
                  <%- include(pageinit.path + 'assets/module/_img-temp_15.ejs', {imgInfo:imgInfo});%>
                <% }%>
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.wrapper -->
          </div>
          <!-- /.item -->
          <section class="item" id="cont_01_03">
            <div class="wrapper">
              <div class="inner">
                <% var imgInfo = {path:'kv_img_04',type:'jpg',alt:''};%>
                <% if(pageinit.shopify!=='true'){%>
                  <%- include(pageinit.path + 'assets/module/_img-temp_09.ejs', {imgInfo:imgInfo});%>
                <% } else {%>
                  <%- include(pageinit.path + 'assets/module/_img-temp_15.ejs', {imgInfo:imgInfo});%>
                <% }%>
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.wrapper -->
            <div class="content style_01">
              <div class="wrap">
                <div class="inner">
                  <h2>Reshape the Norm</h2>
                </div>
                <!-- /.inner -->
              </div>
              <!-- /.wrap -->
            </div>
            <!-- /.content -->
          </section>
          <!-- /.item -->
          <section class="item" id="cont_02">
            <div class="wrapper">
              <div class="inner">
                <% var imgInfo = {path:'kv_img_05',type:'jpg',alt:''};%>
                <% if(pageinit.shopify!=='true'){%>
                  <%- include(pageinit.path + 'assets/module/_img-temp_09.ejs', {imgInfo:imgInfo});%>
                <% } else {%>
                  <%- include(pageinit.path + 'assets/module/_img-temp_15.ejs', {imgInfo:imgInfo});%>
                <% }%>
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.wrapper -->
            <div class="content style_02">
              <a href="javascript:void(0);">
              <div class="wrap">
                <div class="inner">
                  <h2>BOOSTER OIL</h2>
                  <h3>
                    <% var imgInfo = {path:'tx-01',type:'svg',alt:'体感する浸透力'};%>
                    <% if(pageinit.shopify!=='true'){%>
                      <%- include(pageinit.path + 'assets/module/_img-temp_12.ejs', {imgInfo:imgInfo});%>
                    <% } else {%>
                      <%- include(pageinit.path + 'assets/module/_img-temp_13.ejs', {imgInfo:imgInfo});%>
                    <% }%>
                  </h3>
                  <p class="caution">※角質層まで</p>
                  <div class="btn">
                    <span>View</span>
                  </div>
                  <!-- /.btn -->
                </div>
                <!-- /.inner -->
              </div>
              <!-- /.wrap -->
              </a>
            </div>
            <!-- /.content -->
          </section>
          <!-- /.item -->
          <div class="item" id="cont_03">
            <div class="wrapper">
              <div class="inner">
                <% var imgInfo = {path:'kv_img_06',type:'jpg',alt:''};%>
                <% if(pageinit.shopify!=='true'){%>
                  <%- include(pageinit.path + 'assets/module/_img-temp_09.ejs', {imgInfo:imgInfo});%>
                <% } else {%>
                  <%- include(pageinit.path + 'assets/module/_img-temp_15.ejs', {imgInfo:imgInfo});%>
                <% }%>
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.wrapper -->
          </div>
          <!-- /.item -->
          <div class="item" id="cont_04">
            <div class="wrapper">
              <div class="inner">
                <% var imgInfo = {path:'kv_img_07',type:'jpg',alt:''};%>
                <% if(pageinit.shopify!=='true'){%>
                  <%- include(pageinit.path + 'assets/module/_img-temp_09.ejs', {imgInfo:imgInfo});%>
                <% } else {%>
                  <%- include(pageinit.path + 'assets/module/_img-temp_15.ejs', {imgInfo:imgInfo});%>
                <% }%>
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.wrapper -->
          </div>
          <!-- /.item -->
          <div class="item" id="cont_05">
            <div class="wrapper">
              <div class="inner">
                <% var imgInfo = {path:'kv_img_08',type:'jpg',alt:''};%>
                <% if(pageinit.shopify!=='true'){%>
                  <%- include(pageinit.path + 'assets/module/_img-temp_09.ejs', {imgInfo:imgInfo});%>
                <% } else {%>
                  <%- include(pageinit.path + 'assets/module/_img-temp_15.ejs', {imgInfo:imgInfo});%>
                <% }%>
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.wrapper -->
          </div>
          <!-- /.item -->
          <div class="item" id="cont_06">
            <div class="wrapper">
              <div class="inner">
                <% var imgInfo = {path:'kv_img_09',type:'jpg',alt:''};%>
                <% if(pageinit.shopify!=='true'){%>
                  <%- include(pageinit.path + 'assets/module/_img-temp_09.ejs', {imgInfo:imgInfo});%>
                <% } else {%>
                  <%- include(pageinit.path + 'assets/module/_img-temp_15.ejs', {imgInfo:imgInfo});%>
                <% }%>
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.wrapper -->
          </div>
          <!-- /.item -->
          <div class="mask">
            <span><%- include('assets/module/_mask_01.ejs') %></span>
            <span><%- include('assets/module/_mask_02.ejs') %></span>
          </div>
          <!-- /.mask -->
        </div>
        <!-- /.inner -->
      </div>
      <!-- /.galleryWidget -->
    </div>
    <!-- /#mainVis -->
    <div id="homeContainer">
      <div class="dummy">
        aaa
      </div>
      <!-- /.dummy -->
    </div>
    <!-- /#homeContainer -->
  </main>
  <%# ▲▲▲ここまでページ内のHTMLを記載▲▲▲ %>
</div>
<!-- /#outerMenu -->
<%- include(pageinit.path + 'assets/module/_foot.ejs',{pageinit : pageinit}) %>
<% if(pageinit.shopify!=='true'){%>
</body>
</html>
<% }%>
