<%
// 以下の設定値を記入のこと
var pageinit = {
  title : '' ,
  keywords : '' ,
  description : '' ,
  ogurl : '' ,
  ogimage : '' ,
  path : '' ,
  shopify : '',
  category : ['home'] ,
  pagename : '',
  css: [],
  js:[],
  jsfunc:['']
};
%>
<% if(pageinit.shopify!=='true'){%>
<%- include(pageinit.path + 'assets/module/_head.ejs',{pageinit : pageinit}) %>
<%- include(pageinit.path + 'assets/module/_header.ejs',{pageinit : pageinit}) %>
<%- include(pageinit.path + 'assets/module/_menu.ejs',{pageinit : pageinit}) %>
<% } else {%>
{% layout 'theme.tui' %}
<% }%>
<div id="outerMenu">
  <%# ▼▼▼ここからページ内のHTMLを記載▼▼▼ %>
  <main role="main">
    <div id="mainVis">
      <div class="galleryWidget top" id="homeWidget">
        <div class="inner">
          <div class="item active" id="homeCont">
            <div class="bgImg">
              <div class="inner">
                <% var imgInfo = {path:'kv_img_01',type:'jpg',alt:'tui'};%>
                <% if(pageinit.shopify!=='true'){%>
                  <%- include(pageinit.path + 'assets/module/_img-temp_09.ejs', {imgInfo:imgInfo});%>
                <% } else {%>
                  <%- include(pageinit.path + 'assets/module/_img-temp_15.ejs', {imgInfo:imgInfo});%>
                <% }%>
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.bgImg -->
            <div class="content">
              <h1>浸透力を追求する<br class="sp"><span>スキンケアブランド</span></h1>
            </div>
            <!-- /.content -->
          </div>
          <!-- /.item -->
          <section class="item" id="cont_01_03">
            <a href="{{ routes.root_url }}pages/about">
              <div class="bgImg">
                <div class="inner">
                  <% var imgInfo = {path:'kv_img_04',type:'jpg',alt:''};%>
                  <% if(pageinit.shopify!=='true'){%>
                    <%- include(pageinit.path + 'assets/module/_img-temp_09.ejs', {imgInfo:imgInfo});%>
                  <% } else {%>
                    <%- include(pageinit.path + 'assets/module/_img-temp_15.ejs', {imgInfo:imgInfo});%>
                  <% }%>
                </div>
                <!-- /.inner -->
                <div class="content style_08">
                  <div class="wrap">
                    <div class="inner">
                      <h2>当たり前を、変えるもの</h2>
                      <div class="btn">
                        <span class="btnStyle_06"><span>About us</span></span>
                      </div>
                      <!-- /.btn -->
                    </div>
                    <!-- /.inner -->
                  </div>
                  <!-- /.wrap -->
                </div>
                <!-- /.content -->
              </div>
              <!-- /.bgImg -->
            </a>
          </section>
          <!-- /.item -->
          <div class="mask">
            <span class="head"><%- include('assets/module/_mask_01.ejs') %></span>
            <span class="head"><%- include('assets/module/_mask_02.ejs') %></span>
            <span class="foot"><%- include('assets/module/_mask_02.ejs') %></span>
            <span class="foot"><%- include('assets/module/_mask_01.ejs') %></span>
          </div>
          <!-- /.mask -->
        </div>
        <!-- /.inner -->
      </div>
      <!-- /.galleryWidget -->
    </div>
    <!-- /#mainVis -->
    <div id="homeContainer">
      <section class="secStyle_08">
        <div class="inner">
          <div class="secStyle_09 setMrg_35 sp">
            <h2 class="ttlStyle_14">Products</h2>
            <div class="summaryStyle_02">
              <p>独自開発したナノ分散浸透技術 “NtDDS”による角質層すみずみへの浸透効果が、なめらかな素肌へと導きます。</p>
            </div>
            <!-- /.summaryStyle_02 -->
          </div>
          <!-- /.secStyle_09 -->
          <div class="colStyle_06 setMrg_35">
            <div class="col">
              <section class="articleStyle_05">
                <a href="{{ routes.root_url }}products/booster-oil">
                  <div class="inner">
                    <div class="eyeCatch">
                      <% var imgInfo = {path:'img_13',type:'jpg',alt:''};%>
                      <% if(pageinit.shopify!=='true'){%>
                        <%- include(pageinit.path + 'assets/module/_img-temp_09.ejs', {imgInfo:imgInfo});%>
                      <% } else {%>
                        <%- include(pageinit.path + 'assets/module/_img-temp_15.ejs', {imgInfo:imgInfo});%>
                      <% }%>
                    </div>
                    <!-- /.eyeCatch -->
                    <div class="content">
                      <div class="inner style_01">
                        <h2>BOOSTER OIL</h2>
                        <h3>体感する浸透力<span>※</span></h3>
                        <p class="caution">※角質層まで</p>
                        <div class="btn">
                          <span class="btnStyle_07"><span>View more</span></span>
                        </div>
                        <!-- /.btn -->
                      </div>
                      <!-- /.inner -->
                    </div>
                    <!-- /.content -->
                  </div>
                  <!-- /.inner -->
                </a>
              </section>
              <!-- /.articleStyle_05 -->
            </div>
            <!-- /.col -->
            <div class="col">
              <section class="articleStyle_05">
                <a href="{{ routes.root_url }}products/moisture-serum">
                  <div class="inner">
                    <div class="eyeCatch">
                      <% var imgInfo = {path:'img_14',type:'jpg',alt:''};%>
                      <% if(pageinit.shopify!=='true'){%>
                        <%- include(pageinit.path + 'assets/module/_img-temp_09.ejs', {imgInfo:imgInfo});%>
                      <% } else {%>
                        <%- include(pageinit.path + 'assets/module/_img-temp_15.ejs', {imgInfo:imgInfo});%>
                      <% }%>
                    </div>
                    <!-- /.eyeCatch -->
                    <div class="content">
                      <div class="inner">
                        <h2>MOISTURE SERUM</h2>
                        <h3>うるおい、肌にとどまる</h3>
                        <div class="btn">
                          <span class="btnStyle_07"><span>View more</span></span>
                        </div>
                        <!-- /.btn -->
                      </div>
                      <!-- /.inner -->
                    </div>
                    <!-- /.content -->
                  </div>
                  <!-- /.inner -->
                </a>
              </section>
              <!-- /.articleStyle_05 -->
            </div>
            <!-- /.col -->
            <div class="col">
              <section class="articleStyle_05">
                <a href="{{ routes.root_url }}products/set-package">
                  <div class="inner">
                    <div class="eyeCatch">
                      <% var imgInfo = {path:'img_20',type:'jpg',alt:''};%>
                      <% if(pageinit.shopify!=='true'){%>
                        <%- include(pageinit.path + 'assets/module/_img-temp_09.ejs', {imgInfo:imgInfo});%>
                      <% } else {%>
                        <%- include(pageinit.path + 'assets/module/_img-temp_15.ejs', {imgInfo:imgInfo});%>
                      <% }%>
                    </div>
                    <!-- /.eyeCatch -->
                    <div class="content">
                      <div class="inner">
                        <h2>SET PACKAGE</h2>
                        <h3>オイルとセラム、対になるもの。</h3>
                        <div class="btn">
                          <span class="btnStyle_07"><span>View more</span></span>
                        </div>
                        <!-- /.btn -->
                      </div>
                      <!-- /.inner -->
                    </div>
                    <!-- /.content -->
                  </div>
                  <!-- /.inner -->
                </a>
              </section>
              <!-- /.articleStyle_05 -->
            </div>
            <!-- /.col -->
            <div class="col">
              <section class="articleStyle_05">
                <a href="{{ routes.root_url }}products/moisture-serum">
                  <div class="inner">
                    <div class="eyeCatch">
                      <% var imgInfo = {path:'img_21',type:'jpg',alt:''};%>
                      <% if(pageinit.shopify!=='true'){%>
                        <%- include(pageinit.path + 'assets/module/_img-temp_09.ejs', {imgInfo:imgInfo});%>
                      <% } else {%>
                        <%- include(pageinit.path + 'assets/module/_img-temp_15.ejs', {imgInfo:imgInfo});%>
                      <% }%>
                    </div>
                    <!-- /.eyeCatch -->
                    <div class="content">
                      <div class="inner">
                        <h2>SUBSCRIPTION</h2>
                        <h3 class="style_01">使い続けるほどに満ち足りた<br>すこやかな肌へ</h3>
                        <div class="btn">
                          <span class="btnStyle_07"><span>View more</span></span>
                        </div>
                        <!-- /.btn -->
                      </div>
                      <!-- /.inner -->
                    </div>
                    <!-- /.content -->
                  </div>
                  <!-- /.inner -->
                </a>
              </section>
              <!-- /.articleStyle_05 -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.colStyle_06 -->
        </div>
        <!-- /.inner -->
      </section>
      <!-- /.secStyle_08 -->
      <%- include(pageinit.path + 'assets/module/_nav-common.ejs',{pageinit : pageinit}) %>
    </div>
    <!-- /#homeContainer -->
  </main>
  <%# ▲▲▲ここまでページ内のHTMLを記載▲▲▲ %>
  <% if(pageinit.shopify!=='true'){%>
  <%- include(pageinit.path + 'assets/module/_footer.ejs',{pageinit : pageinit}) %>
  <% } else {%>
  {% include 'footer-tui' %}
  <% }%>
</div>
<!-- /#outerMenu -->
<%- include(pageinit.path + 'assets/module/_foot.ejs',{pageinit : pageinit}) %>
<% if(pageinit.shopify!=='true'){%>
</body>
</html>
<% }%>
