<%
// 以下の設定値を記入のこと
var pageinit = {
  title : '' ,
  keywords : '' ,
  description : '' ,
  ogurl : '' ,
  ogimage : '' ,
  path : '' ,
  shopify : 'true',
  category : ['product_02','detail-product'] ,
  pagename : '',
  css: [],
  js:[],
  jsfunc:['setPhotoChanger ();','setBuyBtn();','setVideo();']
};
%>
<% if(pageinit.shopify!=='true'){%>
<%- include(pageinit.path + 'assets/module/_head.ejs',{pageinit : pageinit}) %>
<%- include(pageinit.path + 'assets/module/_header.ejs',{pageinit : pageinit}) %>
<%- include(pageinit.path + 'assets/module/_menu.ejs',{pageinit : pageinit}) %>
<% } else {%>
{% layout 'theme.tui' %}
<% }%>
<div id="outerMenu">
  <%# ▼▼▼ここからページ内のHTMLを記載▼▼▼ %>
  <main role="main">
    <div id="container" class="multiGallery">
      <div class="gallerySep">
        <section class="secStyle_03 setMrg_39">
          <div class="inner">
            <div class="secStyle_00">
              <h2 class="ttlStyle_17">定期購入について</h2>
              <div class="summaryStyle_07">
                <p>肌への効果をより実感していただくために。<br class="pc">毎日欠かさずお使いいただくスキンケアアイテムだからこそ、<br class="pc">お手元にスムーズにお届けできる定期購入プランをご用意しています。</p>
                <p class="txStyle_07">お届け頻度:1ヶ月<br>
                  <% if(pageinit.shopify!=='true'){%>
                  <a href="rule.html#subscription" class="linkStyle_02">
                  定期購入の詳しい情報はこちら
                  </a>
                  <% } else {%>
                  <a href="{{ routes.root_url }}pages/rule#subscription" class="linkStyle_02">
                  定期購入の詳しい情報はこちら
                  </a>
                  <% }%>
                </p>
              </div>
              <!-- /.summaryStyle_07 -->
            </div>
            <!-- /.secStyle_00 -->
            <article class="productSec_01 way">
              <div class="eyeCatch">
                <span>
                  <% var imgInfo = {path:'product_img_02',type:'jpg',alt:''};%>
                  <% if(pageinit.shopify!=='true'){%>
                    <%- include(pageinit.path + 'assets/module/_img-temp_12.ejs', {imgInfo:imgInfo});%>
                  <% } else {%>
                    <%- include(pageinit.path + 'assets/module/_img-temp_13.ejs', {imgInfo:imgInfo});%>
                  <% }%>
                </span>
              </div>
              <!-- /.eyeCatch -->
              <div class="ttl">
                <span class="label">Subscription</span>
                <h1>MOISTURE SERUM</h1>
                <p>モイスチャーセラム</p>
              </div>
              <!-- /.ttl -->
              <div class="priceLabel">
                <p><span class="addLabel">1ヶ月定期</span><span class="label"></span><span class="sub">（税込）</span></p>
              </div>
              <!-- /.price -->
              <% if(pageinit.shopify!=='true'){%>
              <%- include('assets/module/_temp-product_02-s.ejs') %>
              <% } else {%>
              <%- include('assets/module/_temp-product_01_shopify.ejs') %>
              <% }%>
              <div class="btnWrap style_01 setMrg_23">
                <div class="inner">
                  <div class="col">
                    <button type="button" class="btnStyle_05 ja customCartBtn" id="customCartBtn"><span class="normal">カートに追加する</span><span class="out">Out of stock</span></button>
                    <p class="txStyle_08">定期でご購入のお客様は送料無料でお届けいたします。</p>
                    <p class="txStyle_08">・商品のお届けの間隔は毎月です。2ヶ月に1回のお届けなどはできかねます。<br>【2回目以降】初回お申し込み後、定期便1回目のお届けは皆様にお約束いただいております。<br>【3回目以降】自動的に継続してお届けいたします。</p>
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.inner -->
              </div>
              <!-- /.btnWrap -->
              <div class="content">
                <div class="sec">
                  <h3>うるおい、肌にとどまる</h3>
                  <div class="summary">
                    <p>化粧水なしで“セラム” だけ。 オイルのカプセルをセラムが包み、想像を超える保湿力。セラミド成分<sup>※</sup>が肌にうるおいを与え、そのたっぷりの水分を蓄えたままの肌が持続します。親油性が高く、オイルとの併用も弾かず馴染む圧巻のセラム。</p>
                    <ul class="cautionList">
                      <li>※セラミドEOP、セラミドNP、セラミドAP</li>
                    </ul>
                  </div>
                  <!-- /.summary -->
                </div>
                <!-- /.sec -->
                <div class="sec">
                  <dl>
                    <dt>容量</dt>
                    <dd>50mL</dd>
                  </dl>
                  <dl>
                    <dt>使い方</dt>
                    <dd>tuiブースターオイルをお持ちの方：ブースター使用後<br>tuiブースターオイルをお持ちでない方：洗顔後すぐ<br>1～2プッシュを手に取り、お顔全体に優しくなじませてください。<br>乾燥が気になる箇所には重ね付けしてご使用ください。<br>朝晩2 回のご使用をおすすめ致します。</dd>
                  </dl>
                  <dl>
                    <dt>全成分</dt>
                    <dd>水、グリセリン、PEG-40 水添ヒマシ油、 BG、PEG-60 水添ヒマシ油、ホホバ種子油、 リン酸アスコルビルMg、酢酸トコフェロール、ポリリシノレイン酸ポリグリセリル-6、水溶性プロテオグリカン、セラミドEOP、セラミドNP、セラミドAP、 キサンタンガム、(PEG-240/デシルテトラデセス-20/HDI)コポリマー、ポリソルベート20、PEG-20ソルビタンココエート、フィトスフィンゴシン、コレステロール、カルボマー、ラウロイルラクチレートNa、 カプリリルグリコール、1,2-ヘキサンジオール、フェノキシエタノール</dd>
                  </dl>
                  <p class="strong">パラベン、アルコール、合成香料、合成着色料 不使用</p>
                  <div class="elemWrap">
                    <% if(pageinit.shopify!=='true'){%>
                    <a href="./" class="btnStyle_08"><span>Back to Top</span></a>
                    <% } else {%>
                    <a href="{{ routes.root_url }}" class="btnStyle_08"><span>Back to Top</span></a>
                    <% }%>
                  </div>
                </div>
                <!-- /.sec -->
              </div>
              <!-- /.content -->
            </article>
            <!-- /.productSec_01 -->
          </div>
          <!-- /.inner -->
        </section>
        <!-- /.secStyle_03 -->
        <div class="setMrg_24 way pc">
          <%- include(pageinit.path + 'assets/module/_cont-ntdds.ejs', {pageinit:pageinit});%>
        </div>
        <!-- /.setMrg_24 -->
        <div class="way pc">
          <%- include(pageinit.path + 'assets/module/_cont-routine.ejs', {pageinit:pageinit});%>
        </div>
        <!-- /.setMrg_25 -->
        <%- include(pageinit.path + 'assets/module/_nav-common.ejs',{pageinit : pageinit}) %>
      </div>
      <!-- /.gallerySep -->
    </div>
    <!-- /#container -->
  </main>
  <%# ▲▲▲ここまでページ内のHTMLを記載▲▲▲ %>
  <% if(pageinit.shopify!=='true'){%>
  <%- include(pageinit.path + 'assets/module/_footer.ejs',{pageinit : pageinit}) %>
  <% } else {%>
  {% include 'footer-tui' %}
  <% }%>
</div>
<!-- /#outerMenu -->
<%- include(pageinit.path + 'assets/module/_foot.ejs',{pageinit : pageinit}) %>
<% if(pageinit.shopify!=='true'){%>
</body>
</html>
<% }%>
