<%
// 以下の設定値を記入のこと
var pageinit = {
  title : '' ,
  keywords : '' ,
  description : '' ,
  ogurl : '' ,
  ogimage : '' ,
  path : '' ,
  shopify : '',
  category : ['news'] ,
  pagename : '',
  css: [],
  js:[],
  jsfunc:['']
};
%>
<% if(pageinit.shopify!=='true'){%>
<%- include(pageinit.path + 'assets/module/_head.ejs',{pageinit : pageinit}) %>
<%- include(pageinit.path + 'assets/module/_header.ejs',{pageinit : pageinit}) %>
<%- include(pageinit.path + 'assets/module/_menu.ejs',{pageinit : pageinit}) %>
<% } else {%>
{% layout 'theme.tui' %}
<% }%>
<div id="outerMenu">
  <%# ▼▼▼ここからページ内のHTMLを記載▼▼▼ %>
  <main role="main">
    <div id="container">
      <div class="secStyle_04 setMrg_26 way">
        <div class="inner">
          <div class="secStyle_05">
            <% if(pageinit.shopify!=='true'){%>
            <div class="navStyle_01">
              <nav>
                <ul>
                  <li><a href="javascript:void(0);" class="current">ALL</a></li>
                  <li><a href="javascript:void(0);">Information</a></li>
                  <li><a href="javascript:void(0);">Media</a></li>
                  <li><a href="javascript:void(0);">Event</a></li>
                  <li><a href="javascript:void(0);">Other</a></li>
                </ul>
              </nav>
            </div>
            <!-- /.navStyle_01 -->
            <% } else {%>
            {% if blog.all_tags.size > 0 %}
            <div class="navStyle_01">
              <nav>
                <ul>
                  <li><a href="{{ routes.root_url }}blogs/news/">ALL</a></li>
                  {% for tag in blog.all_tags %}
                  {% if current_tags contains tag %}
                  <li><a href="javascript:void(0);" class="current">{{ tag }}</a></li>
                  {% else %}
                  <li>{{ tag | link_to_tag: tag }}</li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </nav>
            </div>
            <!-- /.navStyle_01 -->
            {% endif %}
            <% }%>
            <div class="inner">
              <div class="articleWrap_02">
                <% if(pageinit.shopify!=='true'){%>
                <article class="articleStyle_04">
                  <div class="inner">
                    <div class="col-ttl">
                      <h2>tuiブランドサイトを<br class="sp">公開しました</h2>
                      <div class="subInfo">
                        <p class="upDate">2021.12.31</p>
                        <ul class="category">
                          <li>Media</li>
                        </ul>
                        <!-- /.category -->
                      </div>
                      <!-- /.subInfo -->
                    </div>
                    <!-- /.col-ttl -->
                    <div class="col-content">
                      <div class="postWrap">
                        <p>敏感肌の方にも使っていただけるよう、tuiのすべての商品はお肌に優しい処方で製造しております。ただし、お肌との相性につきましては個人差があり、すべての方のお肌に合うわけではございませんので、予めご了承ください。また、お肌に合わない場合は無理に使用せず、使用を中止してくださいますようお願いいたします。</p>
                        <p>
                          <% var imgInfo = {path:'post_img_01',type:'jpg',alt:''};%>
                          <% if(pageinit.shopify!=='true'){%>
                            <%- include(pageinit.path + 'assets/module/_img-temp_12.ejs', {imgInfo:imgInfo});%>
                          <% } else {%>
                            <%- include(pageinit.path + 'assets/module/_img-temp_13.ejs', {imgInfo:imgInfo});%>
                          <% }%>
                        </p>
                      </div>
                      <!-- /.postWrap -->
                    </div>
                    <!-- /.col-content -->
                  </div>
                  <!-- /.inner -->
                </article>
                <!-- /.articleStyle_04 -->
                <% } else {%>
                {% for article in blog.articles %}
                <article class="articleStyle_04">
                  <div class="inner">
                    <div class="col-ttl">
                      <h2>{{ article.title }}</h2>
                      <div class="subInfo">
                        <p class="upDate">{{ article.published_at | time_tag: '%Y.%m.%d' }}</p>
                        <ul class="category">
                          {% for tag in article.tags %}
                          <li>{{ tag }}</li>
                          {% endfor %}
                        </ul>
                        <!-- /.category -->
                      </div>
                      <!-- /.subInfo -->
                    </div>
                    <!-- /.col-ttl -->
                    <div class="col-content">
                      <div class="postWrap">
                        {{ article.content }}
                      </div>
                      <!-- /.postWrap -->
                    </div>
                    <!-- /.col-content -->
                  </div>
                  <!-- /.inner -->
                </article>
                <!-- /.articleStyle_04 -->
                {% endfor %}
                <% }%>
              </div>
              <!-- /.articleWrap_02 -->
            </div>
            <!-- /.inner -->
          </div>
          <!-- /.secStyle_05 -->
        </div>
        <!-- /.inner -->
      </div>
      <!-- /.secStyle_04 -->
    </div>
    <!-- /#container -->
  </main>
  <%# ▲▲▲ここまでページ内のHTMLを記載▲▲▲ %>
  <% if(pageinit.shopify!=='true'){%>
  <%- include(pageinit.path + 'assets/module/_footer.ejs',{pageinit : pageinit}) %>
  <% } else {%>
  {% include 'footer-tui' %}
  <% }%>
</div>
<!-- /#outerMenu -->
<%- include(pageinit.path + 'assets/module/_foot.ejs',{pageinit : pageinit}) %>
<% if(pageinit.shopify!=='true'){%>
</body>
</html>
<% }%>
